@media (min-width: 960px){
    @font-face {
        font-family: 'icomoon';
        src:  url('fonts/icomoon.eot?vy3eep');
        src:  url('fonts/icomoon.eot?vy3eep#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?vy3eep') format('truetype'),
        url('fonts/icomoon.woff?vy3eep') format('woff'),
        url('fonts/icomoon.svg?vy3eep#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    span {
        font-family: "icomoon";
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
        color: black;
    }
    li {
        list-style: none;
    }
    .nav-contain {
        display: flex;
        height: 4.5rem;
        /* line-height: 4.5rem; */
        /* background-color: red; */
    }
    .nav-click {
        margin-left: 5%;
        width: 75%;
    }
    .nav-click ul li{
        display: inline-block;
        margin-left: 3%;
        line-height: 3.8rem;
    }
    .nav-click ul li::after{
        border-color: #2c2c2c;
        border-style: solid;
        border-width: 0 1px 1px 0;
        content: "";
        display: flex;
        height: 6px;
        margin-left: 5px;
        margin-right: 2.25px;
        transform: rotate(45deg);
        transform-origin: 75% 75%;
        transition: transform .1s ease;
        width: 6px;
        display: inline-block;
    }
    .nav-search {
        float: right;
        line-height: 3.8rem;
    }
    .search-text {
        margin-left: 5px;
    }
    .log {
        width: 15%;
    }
    .log-log {
        font-size: 3.5rem;
        /* float: left; */
        color: red;
    }
    .log-text {
        font-size: 2rem;
    }
    .text {
        font-size: 20px;
    }
    .theimg {
        float: left;
    }
    .main-contain {
        display: flex;
        position: relative;
        width: 100%;
        height: 40rem;
        /* background-image: url(../media/1.png); */
    }
    .main-text {
        position: absolute;
        width: 30rem;
        right: 2.5rem;
        top: 20rem;
    }
    .btn {
        width: 6rem;
        height: 2rem;
        border-radius: 1.3rem;
        border: none;
        background-color: #1473e6;
        margin-top: 1rem;
    }
    .photo {
        display: flex;
        margin-top: 2rem;
    }
    .photo-block {
        width: 30rem;
        margin-left: 3rem;
    }
    .photo-block img {
        width: 26rem;
    }
    .end {
        display: flex;
        margin-top: 3rem
    }
    .end-block {
        width: 25%;
    }
    .end-block:nth-child(-n+1){
        margin-left: 5%;
    }
    .end-title {
        font-size: 2.5rem;
    }
    .end-text {
        font-size: 1.5rem;
    }

}