


.main {
    width: 390px;
    height: 750px;
    background: linear-gradient(209.94deg,#a4d579 0%,#ffffff 50%,#ffffff 100%);;
    margin: 0 auto;
    opacity: 0.75;
    /* position: relative; */
    border: 1px solid white;
    position: relative;
}
.userinfo {
    width: 100%;

}
.love {
    width: 358px;
    height: 140px;
    border: 1px solid;
    border-color: #707070;
    border-radius: 7px;
    background-image: url(../media/2.png);
    margin: 0 auto;
    margin-top: 10px;
}
.contain {
    width: 358px;
    margin: 0 auto;
    margin-top: 16px;
}
.block {
    width: 112px;
    height: 112px;
    display: inline-block;
}
